<?php
return [
    'log' => 'logs/bot.log',
    'storage' => 'storage',
    'plugins' => [
        'hey-example' => [
            'class' => 'Nopolabs\\Yabot\\Examples\\Hey',
            'config' => [
                'hey' => [
                    'pattern' => "/\\b(?'hey'hey)\\b/",
                    'channel' => 'general',
                    'user' => 'dan',
                    'method' => 'hey',
                ],
            ],
        ],
        'Nopolabs\\Yabot\\Examples\\Lookup' => [
            'channel' => 'random'
        ],
        'Nopolabs\\Yabot\\Reservations\\ReservationsPlugin' => [
            'resourcesClass' => 'Nopolabs\\Yabot\\Reservations\\DevResources',
            'refTagUrlTemplate' => 'https://#KEY#.opensky.com/version/reftag',
        ],
        'Nopolabs\\Yabot\\Queue\\QueuePlugin' => [],
    ],
    'slack' => [
        'token' => 'you-need-to-get-a-slack-api-token',
    ],
];
