<?php
return [
    'log' => 'logs/bot.log',
    'plugins' => [
        'Nopolabs\\Yabot\\Plugins\\Hey' => [],
        'Nopolabs\\Yabot\\Plugins\\Lookup' => [],
    ],
    'slack' => [
        'token' => 'you-need-to-get-a-slack-api-token'
    ],
];
