<?php
return [
    'log' => 'logs/bot.log',
    'plugins' => [
        'Slackyboy\\Plugins\\AdminControl\\Plugin' => [],
        'Slackyboy\\Plugins\\Config\\Plugin' => [],
        'Nopolabs\\Yabot\\Plugins\\Hey' => [],
        'Nopolabs\\Yabot\\Plugins\\Lookup' => [],
    ],
    'slack' => [
        'token' => 'you-need-to-get-a-slack-api-token'
    ],
    'Nopolabs\\Yabot\\Plugins\\Hey' => [
        'hey' => [
            'pattern' => "/\\b(?'hey'hey)\\b/",
            'channel' => 'general',
            'user' => 'dan',
            'method' => 'hey',
        ],
    ],
    'Nopolabs\\Yabot\\Plugins\\Lookup' => [
        'channel' => 'general',
        'matchers' => [
            'lookupUser' => "/\\blookup <@(?'user'\\w+)>/",
            'lookupChannel' => "/\\blookup <#(?'channel'\\w+)\\|\\w+>/",
        ],
    ],
];
